:root {
    --primary-color: #6DDAE2;
    --secondary-color: #ED5563;
}
html h1, h3, p , .top-links{
    font-family: 'Azeret Mono', monospace;
}

body {
    padding-bottom: 20px;
}
p {
    font-size: 10pt;
    padding: 5px;
}
.background-highlight {
    background: #ee8d96;
    
}

.container {
    max-width: 500px;
    background: #EEEFF1;
    border-radius: 4px;
    padding: 50px;
}
.container-2 {
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 4px;
}
.about-image {
  margin-left:20px;
  background: #EEEFF1;
  padding:20px;
  padding-left: 50px;
  padding-right: 50px;
}

.homepage-image {
        border: solid 2px white;
        border-radius: 4px;
        padding-right: 10px;
        padding-left: 10px;
    }
.learn-more-link {
    color: var(--primary-color);
    font-weight: bold;
    border: solid 2px white;
    border-radius: 4px;
    padding: 6px;
    padding-right: 15px;
    padding-left: 15px;
}
.learn-more-link:hover {
    cursor: pointer;
    color: #09bdca;
}
.learn-more-link-about {
    color: var(--secondary-color);
    font-weight: bold;
    border: solid 2px white;
    border-radius: 4px;
    padding: 6px;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-name{
    color: var(--secondary-color);
}

.footer-link {
    color: #6DDAE2;
}
.footer-name:hover{
    color: #ce2a3b;
}

.footer-link:hover {
    color: #09bdca;
}
.top-links-wrap {
    margin-left: 50px;
    background: #EEEFF1;
}
.top-links {
    color: black;
    padding:10px;
}
.top-links:hover {
    color:#ee8d96;
}


@media (max-width:576px) {
    h3 {
        padding-top: 20px;
    }

    body {
        padding: 8px;
    }
    .learn-more-link {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    #contact-link {
        font-size: 10pt;
    }
    

}

