:root {
    --primary-color: #6DDAE2;
    --secondary-color: #ED5563;
}
html h1, h3, p , .top-links{
    font-family: 'Azeret Mono', monospace;
}

body {
    padding-bottom: 20px;
}
p {
    font-size: 10pt;
    padding: 5px;
}
.background-highlight {
    background: #ee8d96;
    
}
.title-main {
    font-size: 40pt;
}

.container-1 {
    max-width: 500px;
    background: #baeff3;
    border-radius: 4px;
    padding: 50px;
    margin: 0 auto;
}
.container-2 {
    padding-left: 20%;
    padding-right: 20%;
}
.about-image {
  margin-left:20px;
  background: #baeff3;
  padding:20px;
  padding-left: 50px;
  padding-right: 50px;
}

.homepage-image {
        border: solid 2px white;
        border-radius: 4px;
        padding-right: 10px;
        padding-left: 10px;
    }
.learn-more-link {
    color: #ED5563;
    font-weight: bold;
    border: solid 2px white;
    border-radius: 4px;
    padding: 6px;
    padding-right: 15px;
    padding-left: 15px;
}
.learn-more-link:hover {
    cursor: pointer;
    color: #ce2a3b;
}
.learn-more-link-about {
    color: var(--secondary-color);
    font-weight: bold;
    border: solid 2px white;
    border-radius: 4px;
    padding: 6px;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-name{
    color: var(--secondary-color);
    font-weight: bold;
}

.footer-link {
    color: black;
    font-weight: bold;
}
.footer-name:hover{
    color: #ce2a3b;
}

.footer-link:hover {
    color:rgb(90, 88, 88);
}
.top-links-wrap {
    margin-left: 50px;
    background: #EEEFF1;
}
.top-links {
    color: black;
    padding:10px;
}
.top-links:hover {
    color:#ee8d96;
}
.social-icon {
    font-size: 20pt;
    padding-right: 20px;
}
.instagram-icon {
    color: #ED5563
}
.twitter-icon {
    color: #09bdca;
}
.linkedin-icon {
    color: #6DDAE2
}
.github-icon {
    color: #ee8d96;
}
.about-wrap-top {
    max-width: 600px;
    background: #baeff3;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    
}

@media (max-width:576px) {
    h2 {
        padding-top: 20px;
        text-align: center;
    }
    h4{
        text-align: center;
    }
    p{
        text-align: center;
}
    body {
        padding: 8px;
    }

    .learn-more-link {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    #contact-link {
        font-size: 10pt;
        padding-bottom: 100px;
    }
    .title-main {
        font-size: 20pt;
    }
    .button-container{
        text-align: center;
    }
    footer {
        padding-bottom: 
            20px;
        }
       

}

